
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oxygen:wght@300;400;700&family=Tilt+Neon&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Tilt Neon', cursive;
    color: aliceblue;
}

.hidden{
    display: none;
}

#weather{
    float: right;
    font-size: 20px;
}

#login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding: 5px;
}

#login-input{
    padding-left: 15px;
    border: none;
    border-bottom:aliceblue 4px solid;
    outline: none;
    width: 420px;
    font-size: 30px;
    background: transparent;
}

#greeting{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 28px;
    padding: 5px;
}

img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 80%;
}
#clock{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
}


#todo-container{
    position: absolute;
    top: 55%;
    left: 83%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    border: 2px red solid;
    width: 360px;
    height: 500px;
    overflow: hidden;
    background-color: beige;
    opacity: 80%;

}

#todo-form{
    border: 2px yellow solid;
    margin: 10px;
    padding-bottom: 5px;
    position: relative;
}

#todo-list{
    border: 2px gray solid;
    position: relative;
    font-size: 20px;
    color: black;
    margin: 25px;
    height: 375px;
    overflow: hidden;;
}

#todo-list>li{
    margin: 10px;
    height: 25px;
}

#todo-list>li>span{
}

#todo-list>li>button{

}

#quote{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todo-btn{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    font-size: larger;
    border: none;
    border-radius: 10%;
    background-color:lightpink;
    cursor: pointer;
    color: aliceblue;
}
#todo-btn:hover{
    border: 2px rgb(140, 159, 177) solid;
    border-radius: 10%;
}


