
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oxygen:wght@300;400;700&family=Tilt+Neon&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Tilt Neon', cursive;
    color: aliceblue;
}

.hidden{
    display: none;
}

#weather{
    float: right;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

#login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding: 5px;
}

#login-input{
    padding-left: 15px;
    border: none;
    border-bottom:aliceblue 4px solid;
    outline: none;
    width: 420px;
    font-size: 30px;
    background: transparent;
}

#greeting{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    padding: 5px;
}

img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 80%;
}
#clock{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
}


#todo-container{
    position: absolute;
    top: 55%;
    left: 83%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    width: 360px;
    height: 500px;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;

}

#todo-form>input{
    width: 300px;
    height: 35px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

#todo-list{
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    position: relative;
    font-size: 20px;
    color: black;
    padding-top: 10px;
    margin: 25px;
    height: 380px;
    overflow: hidden;;
}

#todo-list>li{
    font-size: medium;
    margin-bottom: 16px;
    height: 25px;
    width: 200px;
    border-bottom: #000000 solid 1px;
}

#todo-list>li>span{
    margin: 10px;
}

#todo-list>li>button{
    display: inline-block;
    position: absolute;
    left: 80%;
    border: none;
    border-radius: 5px;
}

#todo-list>li>button:hover{
    transition: 0.25s;
    border-radius: 5px;
    outline: none;
    background-color:  rgb(140, 159, 177);
}

#quote{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todo-btn{
    position: absolute;
    top: 53%;
    left: 46.5%;
    padding: 7px;
    width: 100px;
    height: 37px;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: aliceblue;
    color: #1e6b7b;
    cursor: pointer;
    transition: 0.25s;
    padding-left: 3px;
}
#todo-btn:hover{
    border: 2px rgb(140, 159, 177) solid;
    transform: scale(1.15);
}


